<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="omnicentre.eworky"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/custom_titlebar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Index"
            android:label="@string/title_index" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResults"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_search_results" >
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_search_map" >
        </activity>
        <activity
            android:name=".LocalisationDetails"
            android:label="@string/title_place_details" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_search" >
        </activity>
        <activity
            android:name=".SearchOfferType"
            android:label="@string/title_search_criteria" >
        </activity>
        <activity
            android:name=".Connect"
            android:label="@string/connect" >
        </activity>
    </application>

</manifest>